<div class="container">
  <div *ngIf="blogsData.length">
    <div style="text-align: center;font-size: 16px;font-weight: 700;">Blogs Data</div>
    <ul *ngFor="let val of blogsData">
      <li>Title: {{ val.title }} Description: {{ val.description }}</li>
  </ul>
  </div>
  
  <div style="text-align: center;font-size: 16px;font-weight: 700;">Add Blogs</div>
  <form [formGroup]="blogForm" (submit)="handleSubmit()">
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" formControlName="title" /><br>
      <div *ngIf="isSubmit && !blogForm.controls['title'].valid">
        <span style="color: red;">Title is required</span>
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description" /><br>
      <div *ngIf="isSubmit && !blogForm.controls['description'].valid">
        <span style="color: red;">Desciption is required</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
